<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/a0/40/75/a04075d2d1d2591fda87c075821f45b3.jpg);">
  <div class="container">
    <h1>PERSONAJES DE <strong>STAR WARS</strong>!</h1>

    <p>Guía no oficial de todos los personajes del universo de Star Wars.</p>
    <a class="btn btn-flat" href="#">EXPLORAR PERSONAJES</a>
  </div>
</div>
