<h1>Personajes de Star Wars</h1>
<div class="container">
  <div class="row">
      <% @characters.each do |character| %>
        <div class="col-4 mt-2 mb-2">
          <div class="card" style="width: 18rem;">
            <img src="<%= character["image_url"] %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= character["name"] %></h5>
              <p class="card-text"><%= character["info"] %></p>
              <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
