<h1> <%= @character["name"] %> </h1>

<div class="card" style="width: 18rem;">
  <img src="<%= @character["image_url"] %>" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><%= @character["actor"] %></p>
  </div>
</div>
